body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
  }
.visual-hidden {
    display: none;
  }

a {
    text-decoration: none;
}

.features h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation  {
    list-style: none;
}

/*menu*/
.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

.logo {
/*center*/
}

/*преимущества*/

.features,
.features-list {
    list-style: none;
    text-align: center;
}


.features-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.features-item .blue {
    background-color: #81b3d2;
    color: #ffffff;
}

/*горы + name*/
.intro {
    background: url("../img/background_photo.jpg") no-repeat center;
    width: 1200px;
    height: 800px;
    text-align: center;
    margin: auto;
    margin-top:
}

/*заинтересовались?*/
.search-button {
    background-color: #ffffff;
    text-align: center;
  }

.interest {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.search-data {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/*коричневая кнопка*/
.button {
    background-color: #766357;
    color: #ffffff;
    width: 568px;
    height: 86px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: #604e43;
}

.button:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.modal {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border: 1px solid #ffffff;
    width: 568px;
    height: 395px;
    background-color: #ffffff;
    text-align: center;
}
/*синяя кнопка найти*/
.modal-button {
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #669ec0;
}

.modal-button:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}

input {
    margin: 15px;
    background-color: #f2f2f2;
    width: 346px;
    height: 38px

}

.map {
    text-align: center;
}

/*подвал*/
.main-footer {
    color: #000000;
    background: rgba(249,251,546,0.9);
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #000000;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: right;
}

/*стилизация для внутренней*/
/*фильтр*/
.filters {
    background: url("../img/filter_background.jpg") no-repeat center;
}

.filters-item p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filters-item label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.filters-item input {
  color: #ffffff
}

/*кнопка - показать (отфильтровать)*/
.button-show {
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    width: 133px;
    height: 32px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
}

.button-show:hover,
.button-show:focus {
    background-color: #ffffff;
    color: #000000
}

/*сортировка (нужно сделать состояние - активное)*/
.sort a{
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dashed rgba(0,0,0,0.3);
}

.sort a:hover,
.sort a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: 1px dashed rgba(0,0,0,0)
}

/*отели*/

.hotels h3 {
  color: #000000;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
}

.hotels h3:hover,
.hotels h3:focus {
   color: #81b3d2;
}

.hotels h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.readmore p,
.booking p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/*кнопки*/

.booking a{
    background-color: #766357;
    width: 142px;
    height: 27px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.booking a:hover,
.booking a:focus {
    background-color: #604e43;
}

.booking a:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.readmore a{
    background-color: #81b3d2;
    width: 142px;
    height: 27px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.readmore a:hover,
.readmore a:focus {
    background-color: #669ec0;
}

.readmore a:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}
