body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #f2f2f2;
  }

a {
    text-decoration: none;
}
/*img {
  max-width: 100%;
  height: auto;
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px #dedede;
  vertical-align: middle;
}

/*шапка*/

.main-navigation {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
}

.site-navigation  {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    min-height: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    z-index: 1;


}

/*menu*/
.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

.logo {

 position: absolute;
 top: 0px;
width: 1200px;
 z-index: 3;
}

/*преимущества*/
.features h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.description {
  width: 1200px;
  min-height: 216px;
  background-color: #ffffff;
  margin-top: -245px;

}
.features-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;

}

.features-item-1 h3,
.features-item-2 h3,
.features-item h3, {
    font-size: 21px;
    line-height: 21px;
}
.features-item-1 {
  margin-top: -10px;
  padding: 0;
  width: 1200px;
  height: 255px;
  display: flex;

}

.features-item-1 .blue {
    padding: 0;
    margin: 0;
    background-color: #81b3d2;
    color: #ffffff;
    width: 400px;
    min-height: 255px;

}
.features-item-1 .blue-img {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.features-item-2 {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 330px;
  background-color: #ffffff;
}

.features-item {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 256px;
}

/*горы + name*/
.intro {
  margin-top: -70px;
  padding: 0;
    background: url("../img/background_photo.jpg") no-repeat center;
    width: 1200px;
    height: 800px;
    top: center;
}
.intro-item {

}

/*заинтересовались?*/
.search {


}
.search-button {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
  }

.interest {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.search-data {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/*коричневая кнопка*/
.button {
    background-color: #766357;
    color: #ffffff;
    width: 568px;
    height: 86px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: #604e43;
}

.button:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.modal {
    background-color: #ffffff;
    text-align: center;
    width: 571px;
    position: absolute;
}
/*синяя кнопка найти*/
.modal-button {
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #669ec0;
}

.modal-button:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}

input {
    margin: 15px;
    background-color: #f2f2f2;
    width: 346px;
    height: 38px;
}

.map {
    text-align: center;
    height: 472px;
    overflow:hidden;
}

/*подвал*/
.main-footer {
    margin: 0;
    padding: 0;
    color: #000000;
    background: rgba(249,251,546,0.9);
    display: flex;
    justify-content: space-around; 

}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #000000;
}

/*поменяла на svg и картинка лого почему то уползла под футер*/
.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    width: 125px;
    height: 50px;
}

.logo-html {
    fill: #231f20;
}

.logo-html:hover,
.logo-html:focus {
    fill: #81b3d2;
}

.logo-html:active {
    fill: #bdbbbc;
}

/*стилизация для внутренней*/

.navigation-active a {
    color: #766357;
}
/*фильтр*/
.filters {
    background: url("../img/filter_background.jpg") no-repeat center;
}

.filters-item p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filters-item label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.filters-item input {
    color: #ffffff;
}

/*кнопка - показать (отфильтровать)*/
.button-show {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    width: 133px;
    height: 32px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
}

.button-show:hover,
.button-show:focus {
    background-color: #ffffff;
    color: #000000;
}

/*сортировка (нужно сделать состояние - активное)*/
.sort a{
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dashed rgba(0,0,0,0.3);
}

.sort a:hover,
.sort a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort a:active {
    color: #000000;
    border-bottom: none;
}

.sort .sort-active {
    color: #81b3d2;
    border-bottom: none;
}

/*отели*/

.hotels h3 {
    color: #000000;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
}

.hotels h3:hover,
.hotels h3:focus {
   color: #81b3d2;
}

.hotels h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.readmore p,
.booking p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/*кнопки*/

.booking a{
    background-color: #766357;
    width: 142px;
    height: 27px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.booking a:hover,
.booking a:focus {
    background-color: #604e43;
}

.booking a:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.readmore a{
    background-color: #81b3d2;
    width: 142px;
    height: 27px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.readmore a:hover,
.readmore a:focus {
    background-color: #669ec0;
}

.readmore a:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}
