body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 40px 2px #dbdbdb;
  vertical-align: middle;
  position: relative;
}

.main-navigation {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column-reverse;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  min-height: 56px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
}

.site-navigation li {
  width: 211px;
}

.site-navigation li:first-of-type {
  display: flex;
  justify-content: flex-start;
}

.site-navigation li:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.site-navigation li:nth-of-type(2) {
  margin-right: 60px;
  display: flex;
  justify-content: flex-start;
}

.site-navigation li:nth-of-type(3) {
  margin-left: 60px;
  display: flex;
  justify-content: flex-end;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
}

.logo {
  position: absolute;
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
  z-index: 3;
}

.description {
  margin: 0;
  width: 1200px;
  min-height: 216px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.description h1 {
  margin-left: 370px;
  margin-right: 370px;
  margin-top: 60px;
  width: 450px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.description h2 {
  margin-top: 12px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.features-item-1 h3, .features-item-2 h3, .features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item-1 {
  margin-left: 0;
  padding: 0;
  width: 1200px;
  min-height: 256px;
  display: flex;
  justify-content: center;
}

.features-item-1 .blue {
  margin: 0;
  padding: 0 46px;
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  box-sizing: border-box;
}

.features-item-1 .blue-img {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 256px;
  width: 800px;
}

.blue h3 {
  display: block;
  width: 160px;
  margin-bottom: 25px;
}

.blue .one {
  padding-bottom: 17px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  width: 280px;
}

.blue .two {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  width: 310px;
  padding-bottom: 17px;
  padding-top: 10px;
}

.features-item-2 {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 330px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-item-2 h3 {
  padding-top: 10px;
  display: block;
}

.features-item-2 p {
  margin: 0;
  padding-bottom: 25px;
  padding-top: 5px;
  display: block;
  width: 290px;
}

.features-item-2 .icon {
  width: 76px;
  height: 74px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.features-item {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-item h3 {
  margin-bottom: 25px;
  display: block;
  width: 130px;
}

.features-item p {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.intro {
  margin: 0;
  padding: 0;
  border-color: #4176a1;
  background: url("../img/background_photo.jpg") no-repeat center;
  background-position: center -56px;
  width: 1200px;
  height: 508px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.intro::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/kant.png") no-repeat top center;
}

.intro .intro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.search {
  margin: 0;
  padding: 0;
  width: 1200px;
}

.search-button {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 291px;
  width: 1200px;
  position: relative;
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 50px;
}

.search-data {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  border: none;
  border-radius: 0;
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  min-height: 86px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover, .button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  margin: 0;
  box-shadow: 0 2px 10px 2px #dbdbdb;
  background-color: #ffffff;
  text-align: center;
  width: 458px;
  padding: 55px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  animation: bounce 0.8s;
}

.modal-close {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateX(-5000px);
  }
  60% {
    transform: translateX(500px);
  }
  90% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

.modal-button {
  border: none;
  border-radius: 0;
  background-color: #81b3d2;
  width: 458px;
  min-height: 58px;
  color: #ffffff;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.arrival {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 28px;
}

.arrival input {
  margin-left: 18px;
}

.leave {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 28px;
}

.leave input {
  margin-left: 15px;
}

.date {
  padding-right: 38px;
  width: 290px;
  min-height: 34px;
  margin: 0;
  border: solid 2px transparent;
  background-color: #f2f2f2;
  position: relative;
  outline: none;
}

.date:hover, .date:focus {
  background-color: #ebebeb;
  border: solid 2px transparent;
}

.date:active {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.date[placeholder] {
  text-transform: uppercase;
  font: inherit;
  padding-left: 13px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.arrival svg {
  position: absolute;
  left: 485px;
  top: 63px;
  fill: #a9a9a9;
}

.leave svg {
  position: absolute;
  left: 485px;
  top: 132px;
  fill: #a9a9a9;
}

.arrival svg:hover, .leave svg:hover, .arrival svg:focus, .leave svg:focus {
  fill: #000000;
}

.arrival svg:active, .leave svg:active {
  fill: #81b3d2;
}

.count {
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 54px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.count .count-adult {
  padding-right: 53px;
  margin: 0;
  display: flex;
  display: flex;
  align-items: center;
}

.count-adult label {
  margin-right: 42px;
}

.count .count-children {
  padding: 0;
  display: flex;
  align-items: center;
}

.count-children label {
  margin-right: 26px;
}

.output {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #f2f2f2;
  width: 38px;
  min-height: 38px;
  text-align: center;
}

.output[placeholder] {
  text-transform: uppercase;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.btn {
  font-size: 0;
  border: none;
  border-radius: 0;
  padding: 19px;
  background-color: #f2f2f2;
  position: relative;
}

.btn::before, .btn::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 15px;
  width: 10px;
  height: 3px;
  background-color: #a8a8a8;
}

.btn-plus::after {
  transform: rotate(90deg);
}

.btn:hover::before, .btn:focus::before, .btn:hover::after, .btn:focus::after {
  background-color: #000000;
}

.btn:active::before, .btn:active::after {
  background-color: #81b3d4;
}

.modal-button:hover, .modal-button:focus {
  background-color: #669ec0;
}

.modal-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background-color: #cbdda9;
  background: url("../img/map.jpg") no-repeat top;
  height: 593px;
}

.map iframe {
  border: 0;
}

.main-footer {
  padding-left: 72px;
  padding-right: 72px;
  color: #000000;
  background-color: rgba(249, 251, 546, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  min-height: 120px;
  position: relative;
}

.footer-opacity.main-footer {
  position: relative;
  margin-top: -120px;
}

.footer-hashtag {
  margin-left: 60px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social li {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 27px;
}

.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin: 3px;
  fill: #ffffff;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 26px;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.logo-html {
  padding-left: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.logo-html:hover, .logo-html:focus {
  fill: #81b3d2;
}

.logo-html:active {
  fill: #bdbbbc;
}

.navigation-active a {
  color: #766357;
}

.filters {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  background: url("../img/filter_background-2.jpg") no-repeat top center;
  background-color: #7fa0c1;
  background-size: cover;
  min-height: 218px;
}

.filters-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 218px;
}

.filters-item {
  margin: 0;
  width: 160px;
  min-height: 155px;
  color: #ffffff;
}

.filters-item:nth-last-of-type(2) {
  margin-left: 97px;
}

.filters-item h3 {
  text-align: left;
  margin-top: 28px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters-item label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
}

.filters-item input {
  color: #ffffff;
}

.checkbox {
  opacity: 0;
}

.checkbox label::before {
content: "";
display: inline-block;
height: 20px;
width: 20px;
border: 2px solid #ffffff;
border-radius: 5px;
margin-right: 10px;
position: relative;
}

.checkbox:checked+label::after {
content: "";
display: inline-block;
height: 22px;
width: 10px;
border-right: 5px solid #ffffff;
border-bottom: 5px solid #ffffff;
transform: rotate(45deg);
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}


.filter-range {
  width: 318px;
  margin-top: 27px;
  margin-left: 321px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  padding-left: 57px;
}

.price-controls .max-price {
  padding-left: 51px;
}

.price-controls input {
  width: 70px;
  min-height: 32px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover, .range-toggle:focus {
  background: #ababab;
  border: 9px solid #ffffff;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 35px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  justify-content: flex-start;
  min-height: 86px;
  background-color: #ffffff;
  align-items: center;
  flex-wrap: nowrap;
}

.sort .sort-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort ul {
  list-style: none;
  display: flex;
}

.sort .option {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  margin-right: 34px;
}

.sort .number {
  margin-right: 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 117px;
}

.sort .option:hover, .sort .option:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort .option:active {
  color: #000000;
  border-bottom: none;
}

.sort .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

.sort .up {
  margin-top: 10px;
  margin-left: 466px;
  fill: #cacaca;
  font-size: 0;
}

.sort .up:hover, .sort .down:hover, .sort .up:focus, .sort .down:focus {
  fill: #231f20;
}

.sort .up:active, .sort .down:active {
  fill: #81b3d2;
}

.sort .down {
  margin-top: 10px;
  margin-left: 12px;
  fill: #81b3d2;
  font-size: 0;
}

.hotels h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  display: flex;
  align-items: flex-start;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}

.hotels h3:hover, .hotels h3:focus {
  color: #81b3d2;
}

.hotels h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.readmore, .booking {
  margin-top: 6px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.booking a {
  background-color: #766357;
  width: 142px;
  min-height: 27px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.booking a:hover, .booking a:focus {
  background-color: #604e43;
}

.booking a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.readmore a {
  background-color: #81b3d2;
  width: 142px;
  height: 27px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.readmore a:hover, .readmore a:focus {
  background-color: #669ec0;
}

.readmore a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotels {
  padding-left: 72px;
  padding-right: 72px;
  margin: 0;
  display: flex;
  background-color: #ffffff;
  width: 1056px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-height: 149px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 0;
  width: 258px;
  min-height: 90px;
}

.hotel h3 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

.itempicture {
  margin-top: 28px;
  margin-right: 30px;
  display: flex;
  align-items: flex-start;
}

.readmore {
  margin-top: 9px;
  width: 45%;
  text-align: left;
  display: block;
}

.readmore:first-of-type, .booking:first-of-type {
  margin-bottom: 6px;
}

.booking {
  margin-top: 9px;
  width: 55%;
  text-align: left;
  display: block;
}

.booking .booking-button {
  width: 112px;
  min-height: 12px;
  padding: 4px 18px;
  border: none;
}

.readmore .readmore-button {
  width: 80px;
  min-height: 12px;
  padding: 4px 18px;
  border: none;
}

.rating {
  width: 100px;
  min-height: 105px;
  padding: 0;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.rating p {
  background-color: #f2f2f2;
  padding: 3px 12px;
  margin-top: 5px;
}

.starfull {
  font-size: 0;
  margin-right: 1px;
  margin-left: 4px;
}
